body{
    text-align: center;
    position: relative; 
    background-image: url("matrix-background.jpg");
}

#calculadora {
    background-color: yellowgreen;
    border-radius: 15px;
    width:223px;
    height: 292px;
    margin: auto;
    padding-top: 8px;

    
}

form td {
    padding-left:0;    
}

#caixa {
    text-align: center;
    width: 200px;
    height: 60px;
    font-size: 30px;
    background-color: #333;
    color: yellowgreen;
    border-radius: 15px;
}
#ope{
    width: 37px;
    height: 37px; 
    border-radius: 10px;
    cursor: pointer;
}

#limpar{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #333;
    color: yellowgreen;
    font-size: 18px;
    cursor: pointer;
}

h1 {
    color:yellow;
    font-family: 'Pacifico', cursive;
}
h2 {
    color: transparent;
}

#linha{
    color: rgba(255, 255, 0, 0.979);
}

#contact{
    color: yellow;
    font-family: 'Pacifico', cursive;
    font-weight: 560;
    
}
/* responsividade */
@media screen and (max-width: 830px) {
    
}